<footer>
  <div class="contact">
      <div class="contact__text">
         <span class="contact__text__words"> If you would like to work with me, shoot me an email to</span>
          <span class="contact__text__email">hello@antonijakasum.com</span>
      </div>
  </div>
  <div class="copyright">
      <div class="copyright__text">
          <p class="copyright__text__first">Copyright © 2021 Antonija Kasum. </p>
          <p class="copyright__text__design">Designed by <a href="https://apek.me/" target="blank" class="copyright__text__design__link" title="Go to antonijapek.com">Antonija
                  Pek</a>. </p>
          <p class="copyright__text__last"> All Rights reserved</p>
      </div>
      <div class="copyright__links">
          <a href="https://github.com/antonijak" target="blank" class="copyright__links__github" title="Go to GitHub">
              <i class="fab fa-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/antonijakasum/" target="blank" class="copyright__links__linkedin" title="Go to LinkedIn">
              <i class="fab fa-linkedin"></i>
          </a>
      </div>


</footer>