<footer>
  <div class="contact">
      <div class="contact__text">
         <span class="contact__text__words"> If you would like to work with me, send me an email to</span>
          <span class="contact__text__email">antonija.kasum@gmail.com</span>
      </div>
  </div>
  <div class="copyright">
      <div class="copyright__text">
          <p class="copyright__text__first">Copyright © 2025 Antonija Kasum. </p>
          <p class="copyright__text__last"> All Rights reserved</p>
      </div>
      <div class="copyright__links">
          <a href="https://github.com/antonijak" target="blank" class="copyright__links__github">
              <i class="fab fa-github"></i>
            <span class="visually-hidden">
                Go to GitHub
            </span>
          </a>

          <a href="https://www.linkedin.com/in/antonijakasum/" target="blank" class="copyright__links__linkedin">
              <i class="fab fa-linkedin"></i>
              <span class="visually-hidden">
                Go to LinkedIn
            </span>
          </a>
      </div>


</footer>