<header class="main-header">
	<div>
		<h1 class="main-header__title">Antonija Kasum</h1>
		<p class="main-header__text">
			Hi, I am a
			<span class="main-header__text__profession"></span>
			based in Helsinki. I build accessible, user-centered web experiences with clean, maintainable code. My focus is on usability and thoughtful design that make digital experiences intuitive and enjoyable.
		</p>

		<div class="main-header__links">
			<a
				href="https://github.com/antonijak"
				target="blank"
				class="main-header__links__github"
				title="Go to GitHub"
			>
				<i class="fab fa-github" aria-hidden></i>
		  		<span class="visually-hidden">Go to GitHub</span>
			</a>
			<a
				href="https://www.linkedin.com/in/antonijakasum/"
				target="blank"
				class="main-header__links__linkedin"
				title="Go to LinkedIn"
			>
			<i class="fab fa-linkedin" aria-hidden></i>
		  	<span class="visually-hidden">Go to Linkedin</span>
			</a>
		</div>
	</div>
	<div class="main-header__btn-container">
		<a class="main-header__btn-container__btn" href="#projects"
			>Check my projects</a
		>
	</div>
</header>
