<section class="projects__item">
  <img src="{{.img}}" alt class="projects__item__image" />

  <div class="projects__item__content">
    <h3 class="projects__item__content__title">
      <a href="{{.link}}" class="projects__item__content__title__link" target="blank">{{.title}}</a>
    </h3>
    <span class="projects__item__content__technologies">{{.technologies}}
    </span>
    <p class="projects__item__content__text">
      {{.text}}
    </p>

    <div class="projects__item__content__buttons">
      <a href="{{.link}}" target="blank" class="projects__item__content__buttons__demo private-repo">See Live  <span class="visually-hidden">
          {{.title}}
        </span></a>
    </div>
  </div>
</section>