// ---------- fonts
@font-face {
  font-family: 'Space Grotesk';
  font-weight: normal;
  src: url(/fonts/SpaceGrotesk-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Space Grotesk';
  font-weight: bold;
  src: url(/fonts/SpaceGrotesk-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Space Grotesk';
  font-weight: 500;
  src: url(/fonts/SpaceGrotesk-SemiBold.woff) format('woff');
}

$font-family-primary: Karla, Arial, Helvetica, sans-serif;
$font-family-secondary: 'Space Grotesk';
// ---------- media queries

@mixin phone-big {
  @media (min-height: 570px) {
    @content;
  }
}

@mixin tablet-s {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin tablet-l {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-s {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin desktop-m {
  @media (min-width: 1680px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1800px) {
    @content;
  }
}

// ---------- colors
$primary: #454d52;
$secondary: #f55252;
$third: #ff8787;
$link: #ffecec;
$title: #242c31;
$tech: rgba(36, 44, 49, 0.42);
$footer: #fbfbfb;
// ---------- styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $primary;
  font-family: $font-family-primary;
  min-width: 300px;

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    background: #000000af;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &__video {
      width: 100%;
      height: 25rem;
      @include tablet-l {
        width: 60%;
      }
      @include desktop-s {
        width: 45rem;
      }
    }
  }
// --------------- HEADER START ---------------
  .main-header {
    height: 100vh;
    min-height: 35rem;
    width: 90%;
    padding-top: 15vh;
    padding-bottom: 1.3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    @include phone-big {
      padding-top: 25vh;
    }
    @include tablet-s {
      width: 90%;
    }
    @include tablet {
      width: 80%;
    }
    @include tablet-l {
      padding-top: 30vh;
      width: 60%;
    }

    @include desktop-s {
      width: 70%;
    }
    @include desktop-m {
      max-width: 950px;
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 2.2rem;
      font-family: $font-family-secondary;
      font-weight: 500;
      color: $title;
      margin-bottom: 1.5rem;
      @include tablet-s {
        font-size: 2.9rem;
      }
      @include desktop-s {
        font-size: 3rem;
      }
    }

    &__text {
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.7rem;
      @include tablet-s {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
      &__profession {
        display: inline-block;
        color: $secondary;
        background: $link;
        font-family: $font-family-secondary;
        font-weight: 500;
        padding: 0.2rem;
        border-radius: 3px;
        position: relative;
        border: none;
        font-size: 1.1rem;
        line-height: 1.6rem;
        outline: none;
        @include tablet-s {
          font-size: 1.5rem;
          line-height: 2.2rem;
        }
        
        &:hover {

          &::after {
            position: absolute;
            content: "See video";
            top: 0;
            left: 0;
            width: 100%;
            background: $link;
            line-height: 1.7rem;

            @include tablet-s {
              line-height: 2.7rem;
              border-radius: 3px;
            }
          }
        }
      }
    }

    &__links {
      margin-top: 2.1rem;
      display: flex;
      justify-content: center;

      &__github {
        margin-right: 2.5rem;
        @include tablet-s {
          margin-right: 1.4rem;
        }
      }
      &__linkedin {
        height: 2rem;
      }
      .fab {
        font-size: 2rem;
        color: $primary;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;

        &:hover {
          color: $secondary;
        }
      }

      .fa-linkedin {
        font-size: 2.1rem;
      }
    }

    &__btn-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 10vh;

      &__btn {
        text-decoration: none;
        width: fit-content;
        background: $secondary;
        border: 1px solid $secondary;
        color: white;
        padding: 0.7rem 1.2rem;
        font-size: 1rem;
        line-height: 1.4;
        border-radius: 3px;
        font-family: $font-family-secondary;
        -webkit-transition: background-color 0.5s; /* Safari */
        transition: background-color 0.5s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        margin-bottom: 3rem;
        @include tablet-s {
          margin-bottom: 0;
        }
        @include desktop-s {
          font-size: 1.1rem;
        }

        &:hover {
          background-color: $third;
          border-color: $third;
        }
      }
    }
  }
// --------------- HEADER END ---------------


// --------------- PROJECTS START ---------------
  .projects {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 0;


    @include tablet-s {
      align-items: flex-start;
      width: 90%;
      margin-top: 10vh;
    }
    @include tablet {
      width: 80%;
    }
    @include tablet-l {
      width: 60%;
    }
    @include desktop-s {
      width: 70%;
      justify-content: space-between;
    }
    @include desktop-m {
      max-width: 950px;
    }

    &__title {
      margin-bottom: 2.7rem;
      font-size: 2rem;
      color: $title;
      font-family: $font-family-secondary;
      @include tablet-s {
        margin-bottom: 2.5rem;
      }
      @include tablet-landscape {
        margin-bottom: 3rem;
      }
      @include desktop-s {
        margin-bottom: 3.5rem;
        font-size: 2.5rem;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15rem 1fr;
      grid-row-gap: 1rem;
      margin-bottom: 4rem;

      @include tablet-s {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0;
        align-items: flex-start;
      }

      @include tablet-l {
        margin-bottom: 5rem;
      }
      @include tablet-landscape {
        margin-bottom: 6rem;
      }

      &__image {
        margin: 0 auto;
        width: 90%;
        align-self: center;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        -webkit-transition: filter 1s; /* Safari */
        transition: filter 0.9s;
        box-shadow: 1px 2px 2px rgba(214, 214, 214, 0.5);
        filter: grayscale(100%);
        border-radius: 2px;
        @include tablet-s {
          margin: 0;
          width: 100%;
          height: 100%;
        }

        &:hover {
          filter: none;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        width: 90%;
        margin: 0 auto;
        @include tablet-s {
          width: 100%;
        }
        &__title {
          font-size: 1.5rem;
          color: $title;
          font-family: $font-family-secondary;
          margin-bottom: 0.5rem;
          text-align: left;

          @include desktop-s {
            font-size: 1.5rem;
          }
        }

        &__technologies {
          color: $tech;
          font-size: 1rem;
          list-style: none;
          margin-bottom: 1rem;
          line-height: 1.4rem;
          text-align: left;
          @include tablet-s {
            text-align: left;
            margin-bottom: 0.5rem;
          }
          @include tablet-landscape {
            font-size: 1.1rem;
            line-height: 1.6rem;
          }
        }

        &__text {
          font-size: 1rem;
          margin-bottom: 1rem;
          line-height: 1.4rem;
          text-align: left;
          @include tablet-s {
            line-height: 1.4rem;
          }
          @include tablet-landscape {
            font-size: 1.1rem;
            line-height: 1.6rem;
            margin-bottom: 1.5rem;
          }

          &__link {
            color: $primary;

            &:hover {
              color: $tech;
            }
          }
        }

        &__buttons {
          display: flex;
          width: 100%;
          justify-content: space-between;
          @include tablet-s {
            justify-content: flex-start;
          }

          &__github {
            border: 1px solid $secondary;
            border-radius: 3px;
            background: white;
            display: flex;
            align-items: center;
            padding: 0.4rem 0.5rem;
            padding-right: 0.9rem;
            text-decoration: none;
            position: relative;
            margin-right: 1rem;
            

            .github__transition-color {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 0;
              background-color: $link;
              -webkit-transition: width 0.1s; /* Safari */
              transition: width 0.1s;
              -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
            }

            &:hover .github__transition-color {
              width: 100%;
            }

            .github__icon {
              margin-right: 0.7rem;
              z-index: 1;
              height: 1.2rem;
            }

            .github__text {
              color: $secondary;
              letter-spacing: -0.3px;
              font-size: 1rem;
              line-height: 1.2;
              z-index: 1;
              @include desktop-s {
                font-size: 1.1rem;
              }
            }
          }

          &__demo {
            padding: 0.4rem 0.9rem;
            position: relative;
            margin-right: 1rem;
            border: none;
            outline: none;
            background: white;
            color: $secondary;
            font-family: $font-family-primary;
            letter-spacing: -0.3px;
            font-size: 1rem;
            line-height: 1.2;
            text-decoration: none;
            @include desktop-s {
              padding: 0.4rem 0.9rem;
              font-size: 1.1rem;
              margin-right: 1rem;
            }

            &:hover {
              text-decoration: underline;
            }

            
          }

          .disabled {
            color: $secondary;
            font-family: $font-family-primary;
            letter-spacing: -0.5px;
            font-size: 0.9rem;
            line-height: 1.2;
            margin-right: 0;
            padding-left: 0;
            @include desktop-s {
              font-size: 1.1rem;
            }

            &:hover {
              text-decoration: none;
            }
          }

          .private-repo {
            padding: 0.4rem 0;
            margin-right: 0;
          }
        }
      }
    }
  }
// --------------- PROJECTS END ---------------

// --------------- FOOTER START ---------------
  footer {
    width: 100%;
    margin-bottom: 2rem;
    @include tablet-s {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .contact {
      width: 100%;
      background: $footer;
      padding: 0.8rem 10% 1rem;

      @include tablet-s {
        padding: 2rem 0;
      }
      @include tablet {
        padding: 4rem 0;
      }

      &__text {
        padding: 0 1.3rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5rem;
        position: relative;

        @include tablet-s {
          width: 90%;
          text-align: left;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        @include tablet {
          width: 80%;
          font-size: 1.3rem;
          line-height: 2.3rem;
          height: 3rem;
        }
        @include tablet-l {
          width: 60%;
        }
        @include tablet-landscape {
          font-size: 1.5rem;
        }
        @include desktop-s {
          width: 70%;
          justify-content: space-between;
        }
        @include desktop-m {
          max-width: 950px;
        }

        &__words {
          @include tablet {
            line-height: 3rem;
          }
        }

        &__email {
          display: block;
          color: $secondary;
          background: #ffecec;
          font-family: $font-family-secondary;
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.8rem;
          padding: 0.1rem;
          width: 14rem;
          height: 1.8rem;
          border-radius: 3px;
          text-align: center;
          margin: 0.4rem auto 0;
          position: relative;
          @include tablet-s {
            font-size: 1.4rem;
            line-height: 2.4rem;
            width: 18rem;
            height: 2.5rem;
            margin: 0;
          }
          @include desktop-s {
            display: inline-block;
          }

          &:hover {
            &::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              content: "Copy email";
              background: #ffecec;
              line-height: 1.8rem;
              height: 1.8rem;

              @include tablet-s {
                line-height: 2.5rem;
                height: 2.5rem;
              }
            }
          }
        }

        .copied {
          display: block;
          background: #D8F4E7;
          color: #D8F4E7;
          font-family: $font-family-secondary;
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.8rem;
          padding: 0.1rem;
          width: 14rem;
          height: 1.8rem;
          border-radius: 3px;
          text-align: center;
          margin: 0.4rem auto 0;
          position: relative;
          @include tablet-s {
            font-size: 1.4rem;
            line-height: 2.5rem;
            width: 18rem;
            height: 2.5rem;
            margin: 0;
          }
          @include desktop-s {
            display: inline-block;
          }
         
         
          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            line-height: 1.8rem;
            height: 1.8rem;
            content: "Email copied";
            background: #D8F4E7;
            color: rgb(56, 155, 107);
            animation: pulse .2s 2;
            @include tablet-s {
              line-height: 2.5rem;
              height: 2.5rem;
            }
          }
        }

        @keyframes pulse {
          0%, 100% {
            transform: scale(1)
          }
          20%, 80% {
            transform: scale(.9)
          }
          40%, 60% {
            transform: scale(.8)
          }
        }

        &__copy {
          position: absolute;
          top: 0;
          left: 1rem;
          z-index: -3;
        }
      }
    }

    .copyright {
      width: 90%;
      height: fit-content;
      padding: 2rem 0;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @media (min-width: 650px) {
        flex-direction: row;
        justify-content: space-between;
      }
      @include tablet-s {
        padding: 3rem 0;
        align-items: flex-start;
        width: 90%;
      }
      @include tablet {
        width: 80%;
        padding: 4rem 0;
      }
      @include tablet-l {
        width: 60%;
      }

      @include desktop-s {
        width: 70%;
        justify-content: space-between;
      }
      @include desktop-m {
        max-width: 950px;
      }

      &__text {
        font-size: .9rem;
        padding: 0 1.3rem;
        @include tablet {
          font-size: 1rem;
        }
        @include tablet-s {
          display: flex;
          flex-wrap: wrap;
        }

        &__first,
        &__design,
        &__last {
          text-align: center;
          @include tablet-s {
            margin-right: 5px;
          }
        }

        &__design {
          &__link {
            text-decoration: none;
            color: gray;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      &__links {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        padding: 0 1.3rem;

        @media (min-width: 650px) {
          margin-top: 0;
        }

        &__github,
        &__linkedin {
          text-decoration: none;
          display: flex;
          align-items: center;

          &__icon {
            height: 1.1rem;
          }

          .fab {
            font-size: 1.5rem;
            color: $primary;
            -webkit-transition: color 0.5s;
            transition: color 0.5s;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
            @include tablet-s {
              font-size: 1rem;
            }

            &:hover {
              color: $secondary;
            }
          }

          .fa-linkedin {
            font-size: 1.6rem;
            @include tablet-s {
              font-size: 1.1rem;
            }
          }
        }

        &__github {
          margin-right: 4rem;
          @include tablet-s {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
